.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  margin: 0 auto;
  /* Center the container */

  .filter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .searchbar {
      max-width: 340px;
    }

    .sort {
      background-color: var(--foreground-color);
      padding: 4px 10px;
      border: solid 1px var(--border-color);

      svg {
        fill: var(--black-color);
        width: 24px;
        height: 24px;
      }
    }
  }

  .content {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    overflow-y: auto;
    padding-bottom: 50px;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
  }
}