.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    justify-content: space-between;
    border-bottom: solid 1px var(--border-color);
    
    .title {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
    }

    .searchbar {
      width: 450px;
    }

    .actions {
      .add {
        font-weight: 500;
      }
    }
  }

  .content {
    flex: 1;
  }
}