.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
    
    .title {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
    }

    .searchbar {
      width: 450px;
    }

    .actions {
      .add {
        font-weight: 500;
      }
    }
  }
}