.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .tabs {
    display: flex;
    gap: 16px;
    width: 100%;
    overflow-x: auto;
    // border-bottom: solid 1px var(--border-color);
    background-color: var(--grey-3-color);
    justify-content: center;

    .tab {
      padding: 10px 0;
      cursor: pointer;
      position: relative;

      span {
        padding: 6px 10px;
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--grey-color);
        white-space: nowrap;
      }

      &.active {
        pointer-events: none;

        span {
          color: var(--black-2-color);
          background-color: var(--foreground-color);
          box-shadow: var(--card-shadow);
        }
      }

      &:hover {
        span {
          background-color: var(--grey-2-color);
        }
      }
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    padding: 16px 24px;
  }
}